name: Build Linux

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-linux.yml'
      - 'linux/**'
      - 'lib/**'
      - 'example/linux/**'
      - 'example/lib/**'
      - 'pubspec.yaml'
  workflow_run:
    workflows: ["Update Submodules Daily"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
        
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build pkg-config libgtk-3-dev libvulkan-dev libglib2.0-dev
          sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio libunwind-dev libomp-dev

      - name: Build Linux App
        run: |
          cd example
          flutter pub get
          flutter build linux -v

      - name: Upload Linux Build
        uses: actions/upload-artifact@v4
        with:
          name: llama_sdk-example-linux
          path: example/build/linux/x64/release/bundle